.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background-color: #feb900;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav-active {
    overflow: hidden;
}



.mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #feb900;
}